@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: #1f2937;
    padding: 1em 13em;
}


#logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.secondary,
a:link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.welcome {
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.welcome .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.hero {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

button {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
}

.welcome button {
    border: none;
}

img {
    display: flex;
    max-width: 340px;
    max-height: auto;
    flex: auto;
  }

/* Some Random Information */
.container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    width: 100%;
}

div.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
  width: 125px;
  height: 125px;
  background-color: white;
  border: 3px solid #3882f6;
  padding: 10px;
  margin: 0px;
  border-radius: 10px;
}

.title {
   font-size: 36px;
   font-weight: 900;
   color: #1f2937; 
   text-align: center;
   margin: 20px;
  }

.text {
    text-align: center;
    margin-top: 10px;
    max-width: 125px;
    font-size: 15px
  }


/* Quote Section */
.quote-container {
    box-sizing: border-box;
    background-color: #e5e7eb;
    padding: 72px 108px;
    color: #1f2937;
    margin-top: 32px;
    width: 100%;
}

.quote {
    font-style: italic;
    font-size: 36px;
}

.author {
    font-size: 28px;
    font-weight: 600;
    text-align: right;
}


/* Call to action */
.sign-up-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
    color: white;
}

.sign-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.time {
    font-weight: 800;
    font-size: 18px;
    margin: 0;
}

.direction {
    margin: 0;
}

.bottom-button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px -4px;
}

/* Footer */
footer {
    background-color: #1f2937;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}